{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<div class="container">


<footer class="page-footer font-small mdb-color lighten-3 pt-4">



  <div class="container text-center text-md-left">



    <div class="row">

      <div class="col-ml-0">
              <img src="{% static 'images/chowdary.PNG' %}" class="rounded pd-4" style="height:300px;" alt="...">
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
        <ul class="list-unstyled">
         <li>
           <p>
              <a href="{% url 'aboutpage' %}">About  Us</a>
            </p>
         </li>


        </ul>

      </div>


      <hr class="clearfix w-100 d-md-none">


      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">


        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i>Hyderabad, Ameerpet,India</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> djangoframework7am@gmail.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i>12451258</p>
          </li>

        </ul>

      </div>


      <hr class="clearfix w-100 mh-100 d-md-none">


      <div class="col-md-2 col-lg-2 text-center mh-100 mx-auto my-4" style="font-size: 34px">


        <h5 class="font-weight-bold text-uppercase mh-100 mb-4">Follow Us</h5>
        <ul class="list-unstyled">
          <li>
              <a type="button" class="btn-floating btn-fb mh-100" href="https://www.facebook.com/valedictory.s" target="_blank">
          <i class="fab fa-facebook-f" style="color:#6610f2;bg-color:#007bff"></i>
        </a>
          </li>

        <li>
          <a type="button" class="btn-floating btn-tw mh-100" href="#" target="_blank">
          <i class="fab fa-google" style="color:#dc3545"></i>
        </a>

        </li>
       <li>
          <a type="button" class="btn-floating mh-100"  href="https://www.linkedin.com/in/challa-pavankumar" target="_blank">
          <i class="fab fa-linkedin-in"   style="color:blue"></i>
        </a>
       </li>
        <li>
         <p>
             <a type="button" class="btn-floating btn-gplus mh-100" style="color:block" href="https://github.com/challapavankumar">
             <i class="fab fa-github rounded-circle" style="color:block"></i>

               <a>
         </p>
        </li>
      </ul>






      </div>


    </div>


  </div>

  <div class="footer-copyright text-center py-3"> <h1 class="text-pink">Challachowdary <sub>@ 2020 Copyright</sub></h1>

  </div>


</footer>

